### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Caches
.pytest_cache/

# VSCpde
.vscode/

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

media/
.env
db.sqlite3
